*
{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    
    background-image: linear-gradient(to right, #ee7809,#e2a809);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars
{
    color: #fff;
    font-size: 30px !important;
    
}
.navbar-toggler
{
    outline: none !important;
}
.nav-link:hover {
    color: rgb(51, 54, 49) !important;
    transition: 0.8s;
    font-size: 20px;
}


/*-------------banner section---------------*/

#banner
{
    background-image: linear-gradient(to right, #ee7809,#e2a809);
    color: rgb(255, 255, 255);
    padding-top: 5%; 
}
.promo-title
{
    letter-spacing: 7.5px;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
}
.promo-title:hover {
    color: rgb(45, 45, 48) !important;
    transition: 0.8s;
    cursor: default;
}
.play-btn
{
    width: 45px;
    margin: 20px;
}
#banner a
{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.bottom-img
{
    width: 100%;
}
/*-----------services section--------------*/

#services
{
    padding: 80px 0;
}
.service-img
{
    width: 100px;
    margin-top: 20px;
}
.services
{
    padding: 20px;
}
.services h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}

/*---------------about-us section--------------*/

#about-us
{
    background: #f8f9fa;
    padding-bottom: 80px;
    padding-top: 50px;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li
{
    margin: 10px 0;
}

#about-us ul
{
    margin-left: 20px;
}
/*-----------  services plan----------*/

.service-plan{
    margin: 75px 0;
    padding-bottom: 50px;
    padding-top: 60px;

}
.service-plan a{
   color: #000;
}
.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.subtitle{
    text-align: center;
    margin-bottom: 70px;
    font-size: 15px;
}
.service-box{
    padding: 0 35px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: .4s;
    border: 1 1 1 1;
    background-color: #a0cdd375;
    border-radius: 10px;
}
.service-box img{
    width: 60px;
    margin-top: 65px;
    margin-bottom: 45px;
}
.service-box h6{
    margin-bottom: 40px;
    font-weight: bold;
}
.service-box p{
    font-size: 14px;
    color: #000000;
}
.fa-arrow-right{
    font-size: 22px !important;
    margin-top: 30px;
    margin-bottom: 35px;
    cursor: pointer;
}
.service-box:hover,.active-service{
    background: #00b9d1;
    border-radius: 5px;
    color: rgb(0, 0, 0) !important;
    box-shadow: 0 15px 15px 2px rgba(213,213,213,0.5);
    border-radius: 15px;
}
.service-box:hover p{
    color: rgb(0, 0, 0) !important;
}
.active-service p{
    color: rgb(0, 0, 0);
}

/* Other Services section  */
.services
{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f8f9fa;
}
.services h1
{
    margin-bottom: 15px;
}
.services-box
{
    background: #ffedbb8a;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.services-box .fa
{
    margin: 0 10px;
    font-size: 20px;
}
.services-box span
{
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}
.services-box p
{
    font-size: 15px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
.services-box:hover
{
    background: #000;
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}
.services-box:hover p
{
    color: #fff;
}

/* Page Management section */

section.pricing {
    background: #007bff;
    background: #101820ff;
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 #000000;
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  .pricing .btn:hover {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    background-color: #101820ff;
    color: #ffffff;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }


/*--------------testimonials SECTION--------------*/
.review{
    margin: 100px 0;
}
.carousel-item{
    text-align: center;
    height: 430px;
}
.carousel-caption{
    z-index: -1 !important;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 50px;
}
.carousel-caption h6{
    margin-top: 55px;
    font-weight: bold;
    color: #000 !important;
}
.carousel-caption small{
    margin-top: 10px;
    margin-bottom: 50px;
    display: block;
    color: #000 !important;
}
.carousel-caption p{
    text-align: center;
    padding: 0 50px;
    font-size: 15px;
    color: #808080 !important;
}
.carousel-indicators li{
    background-color: #d18800 !important;
}

@media only screen and (max-width: 800px){
    .carousel-item
    {
    height: 520px;
    }
    .carousel-caption{
        margin: 0 10px 50px 10px;
        left: 0 !important;
        right: 0 !important;
    }
}


/*-----------------footer section---------------*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
    margin-top: 100px;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/* typing animation*/
#typedtext{
    font-family: 'Poppins', sans-serif;
  font-size:18px; 
  margin: 10px 50px; 
  letter-spacing: 2px; 
  font-weight: bold;
}
#typedtext:hover{
    color: rgb(29, 29, 29) !important;
    transition: 0.8s;
    cursor: default;
    
}












